@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Patua+One&display=swap');
  /*font-family: "Patua One", serif;
    ou
    font-family: "Archivo Black", sans-serif;
    font-weight: 400;
    font-style: normal;*/
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Patua+One&family=Protest+Guerrilla&display=swap');
/*font-family: "Protest Guerrilla", sans-serif;
  font-weight: 400;
  font-style: normal;*/

@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Patua+One&family=Protest+Guerrilla&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
/*.inria-sans-light {
  font-family: "Inria Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}*/

body{
    background-image: linear-gradient(to bottom, rgba(0, 10, 0, 0.836), rgb(0, 10, 0) );
    font-family: var(--fonte-padrao);
}

:root{
    --cor01: rgb(255, 255, 255);
    --cor02: #8BD80A;
    --cor03: #107C10;
    --cor04: #053611;
    --cor05: rgb(0, 10, 0);

    --fonte-padrao: Arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Archivo Black", sans-serif;
    --fonte-tema: "Protest Guerrilla", sans-serif;
    --font-normal:"Inria Sans", sans-serif;
}

#principal{
    font-family: var(--fonte-tema);
    letter-spacing: 1.5px;
    font-weight: 300;
    font-size: 40px;
    text-shadow: 2px 2px var(--cor04);
}

h1{
    font-family: var(--fonte-tema);
    letter-spacing: 1.5px;
    font-weight: 300;
}
h2{
    font-family: var(--fonte-destaque);
    text-shadow: 1px 1px var(--cor04);
}
p{
    font-family: var(--font-normal);
}

header{
    text-align: center;
}
img{
    box-shadow: 5px 3px 7px 1px rgba(1, 22, 6, 0.541);
    width: 100%;
}
nav{
    background-color: var(--cor02);  
    text-align: center;   
    padding: 10px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: inset  2px 2px 19px 2px var(--cor03);
}
nav > a{
    color:var(--cor04);
    font-family: var(--fonte-tema);
    letter-spacing: 1px;
    font-weight: 300;
    margin-left: 60px;  
    border-radius: 10px; 
    transition-duration: 0.5s;
}
nav > a:hover{
    padding: 10px;
    background-color: var(--cor04);
    color: var(--cor01);
}
/*  tamnho minimo e maximo em q a box pode crescer e diminuir
    min-width: 250px;
    max-width: 1000px;
    */
main{
    color: var(--cor01);
    text-align: center;
    min-width: 250px;
    max-width: 1000px;
    margin: auto;
}
video{
    box-shadow: 5px 3px 7px 1px rgba(1, 22, 6, 0.541);
    width: 100%;
}

.artigo01{
    background-color: var(--cor03);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: inset  1px 1px 5px 1px var(--cor04);
}
.artigo02{
    background-color: var(--cor03);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: inset  1px 1px 5px 1px var(--cor04);
}
.artigo03{
    background-color: var(--cor03);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: inset  1px 1px 5px 1px var(--cor04);
}
.artigo04{
    background-color: var(--cor03);
    padding: 20px;
    border-radius: 10px;
    margin: 10px;
    box-shadow: inset  1px 1px 5px 1px var(--cor04);
}

footer{
    color: #dcff9af6;
    text-align: center;
    padding: 10px;
    margin: 10px;
    text-shadow: 1px 1px var(--cor03);
}
footer>h3{
    text-shadow: none;
}
footer>a{
   box-shadow: none;
}
a>img {
    max-width:120px;
    max-height:60px;
    width: auto;
    height: auto;
    box-shadow: none;
    padding: 10px;
}